APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:O4McpWZr4rcYiZNEHcTYp57tHYQuX7OGvlUq3fafLF0=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=website_kinh_mat_hana
DB_USERNAME=root
DB_PASSWORD=




SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

GOOGLE_CLIENT_ID=904015040238-njtn62ulb8660426ei2bk0rqr23ckqlu.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://127.0.0.1:8000/auth/google/callback

FACEBOOK_CLIENT_ID=1520051482713520
FACEBOOK_CLIENT_SECRET=d5b5ce949dc1d7189e393b3e0a70ed36
FACEBOOK_REDIRECT_URI=https://689e-2405-4802-1d83-ec90-184c-b7b5-b147-e83b.ngrok-free.app/auth/facebook/callback

VITE_APP_NAME="${APP_NAME}"