.elementor-3396 .elementor-element.elementor-element-6afec47 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 128px 0px 20px 0px;
}
.elementor-3396
    .elementor-element.elementor-element-4be3cdf
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-3396
    .elementor-element.elementor-element-e998359
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0% 27% 0% 27%;
}
.elementor-3396
    .elementor-element.elementor-element-64d5a65
    > .elementor-container {
    max-width: 687px;
}
.elementor-3396 .elementor-element.elementor-element-64d5a65 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 140px 0px;
}
.elementor-3396
    .elementor-element.elementor-element-66af7fd
    > .elementor-element-populated {
    text-align: left;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0% 0% 0% 0%;
}
.elementor-3396 .elementor-element.elementor-element-d8fe16c {
    text-align: center;
}
.elementor-3396
    .elementor-element.elementor-element-d8fe16c
    > .elementor-widget-container {
    margin: -16px 0px 0px 0px;
    padding: 0% 0% 0% 0%;
}
.elementor-3396
    .elementor-element.elementor-element-5527f0a
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-3396
    .elementor-element.elementor-element-28a86fd:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-3396
    .elementor-element.elementor-element-28a86fd
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #f9f9f9;
}
.elementor-3396 .elementor-element.elementor-element-28a86fd {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 75px 0px 36px 0px;
}
.elementor-3396
    .elementor-element.elementor-element-28a86fd
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3396
    .elementor-element.elementor-element-034646b
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}
@media (max-width: 1024px) {
    .elementor-3396 .elementor-element.elementor-element-6afec47 {
        padding: 120px 0px 20px 0px;
    }
    .elementor-3396 .elementor-element.elementor-element-64d5a65 {
        padding: 0px 0px 130px 0px;
    }
    .elementor-3396
        .elementor-element.elementor-element-66af7fd
        > .elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-3396
        .elementor-element.elementor-element-d8fe16c
        > .elementor-widget-container {
        padding: 0% 0% 0% 0%;
    }
    .elementor-3396 .elementor-element.elementor-element-28a86fd {
        padding: 65px 0px 36px 0px;
    }
}
@media (max-width: 767px) {
    .elementor-3396
        .elementor-element.elementor-element-e998359
        > .elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-3396 .elementor-element.elementor-element-28a86fd {
        padding: 45px 0px 19px 0px;
    }
}
